<!-- Validation failure messages -->

<% if @color.errors.any? %>
  <% @color.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Color #<%= @color.id %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_color/<%= @color.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for color_id -->
          <div class="form-group">
            <label for="color_id" class="col-sm-2 control-label">
              Color
            </label>
            <div class="col-sm-10">
              <input type="text" id="color_id" name="color_id" placeholder="Color" class="form-control" value="<%= @color.color_id %>">
            </div>
          </div>

          <!-- Label and input for color_desc -->
          <div class="form-group">
            <label for="color_desc" class="col-sm-2 control-label">
              Color desc
            </label>
            <div class="col-sm-10">
              <input type="text" id="color_desc" name="color_desc" placeholder="Color desc" class="form-control" value="<%= @color.color_desc %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update Color
              </button>
              or
              <a href="/colors/<%= @color.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
