<!-- Validation failure messages -->

<% if @ar.errors.any? %>
  <% @ar.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Ar</h3>
      </div>
      <div class="panel-body">
        <form action="/create_ar" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for user_id -->
          <div class="form-group">
            <label for="user_id" class="col-sm-2 control-label">
              User
            </label>
            <div class="col-sm-10">
              <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @ar.user_id %>">
            </div>
          </div>

          <!-- Label and input for proposal_id -->
          <div class="form-group">
            <label for="proposal_id" class="col-sm-2 control-label">
              Proposal
            </label>
            <div class="col-sm-10">
              <input type="text" id="proposal_id" name="proposal_id" placeholder="Proposal" class="form-control" value="<%= @ar.proposal_id %>">
            </div>
          </div>

          <!-- Label and input for invoice_number -->
          <div class="form-group">
            <label for="invoice_number" class="col-sm-2 control-label">
              Invoice number
            </label>
            <div class="col-sm-10">
              <input type="text" id="invoice_number" name="invoice_number" placeholder="Invoice number" class="form-control" value="<%= @ar.invoice_number %>">
            </div>
          </div>

          <!-- Label and input for invoice_date -->
          <div class="form-group">
            <label for="invoice_date" class="col-sm-2 control-label">
              Invoice date
            </label>
            <div class="col-sm-10">
              <input type="text" id="invoice_date" name="invoice_date" placeholder="Invoice date" class="form-control" value="<%= @ar.invoice_date %>">
            </div>
          </div>

          <!-- Label and input for amt_owed -->
          <div class="form-group">
            <label for="amt_owed" class="col-sm-2 control-label">
              Amt owed
            </label>
            <div class="col-sm-10">
              <input type="text" id="amt_owed" name="amt_owed" placeholder="Amt owed" class="form-control" value="<%= @ar.amt_owed %>">
            </div>
          </div>

          <!-- Label and input for amt_paid -->
          <div class="form-group">
            <label for="amt_paid" class="col-sm-2 control-label">
              Amt paid
            </label>
            <div class="col-sm-10">
              <input type="text" id="amt_paid" name="amt_paid" placeholder="Amt paid" class="form-control" value="<%= @ar.amt_paid %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-success">
                Create Ar
              </button>
              or
              <a href="/ars">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
