<% if @user.vendor == false and @proposal.win == false %>

<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-12 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Your Proposal</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">

              <dt>User</dt>
              <dd><%= @proposal.user.username %></dd>

              <dt>User email</dt>
              <dd><%= @proposal.user.email %></dd>

              <dt>Ideal weekly bill</dt>
              <dd><%= @proposal.user_request_val %></dd>

              <dt>Start date</dt>
              <dd><%= @proposal.start_date %></dd>

              <dt>End date</dt>
              <dd><%= @proposal.end_date %></dd>

            </dl>

          </div>
        </div>
      </div>



      <div class="btn-group btn-group-justified">
        <a href="/proposals" class="btn btn-primary">
          <i class="fa fa-chevron-left"></i>
        </a>

        <a href="/proposals/<%= @proposal.id %>/edit" class="btn btn-warning">
          <i class="fa fa-edit"></i>
        </a>

        <a href="/delete_proposal/<%= @proposal.id %>" class="btn btn-danger" rel="nofollow">
          <i class="fa fa-trash-o"></i>
        </a>
      </div>


      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Requested products</div>

        <!-- Table -->
        <table class="table">
          <tr>
            <th>Product</th>
            <th>Color</th>
            <th>Size</th>
            <th>Material</th>
            <th>Quantity</th>
            <th>Requested price</th>
          </tr>

        <% @proposal.proposalprods.each do |pp| %>
          <tr>
            <th><%= pp.product.product_desc %></th>
            <th><%= pp.color.color_desc %></th>
            <th><%= pp.size.size_desc %></th>
            <th><%= pp.material.material_desc %></th>
            <th><%= pp.quantity %></th>
            <th>$<%= pp.user_request_price.to_f.round(2) %></th>
            <th>
              <a href="/proposalprods/<%= pp.id %>/edit">
                <i class="fa fa-edit"></i>
              </a>
            </th>
            <th>
              <a href="/delete_proposalprods/<%= pp.id %>">
                <i class="fa fa-trash-o"></i>
              </a>
            </th>
          </tr>
        <% end %>
        </table>
      </div>

    </div>
  </div>
</div>


<!-- Add products section -->

<!-- Validation failure messages -->

<% if @proposalprods.errors.any? %>
  <% @proposalprods.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-12 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add a product</h3>
      </div>
      <div class="panel-body">
        <form action="/create_proposalprods" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for product_id -->
          <div class="form-group">
            <div class="col-sm-10">
               <input type="hidden" id="proposal_id" name="proposal_id" placeholder="Content" class="form-control" value="<%= @proposal.id %>">
            </div>
          </div>



          <!-- Label and input for product_id -->
          <div class="form-group">
            <label for="product_id" class="col-sm-2 control-label">
              Product
            </label>
            <div class="col-sm-10 input-group-sm">
               <%= select_tag(:product_id, options_from_collection_for_select(Product.all, :product_id, :product_desc, @proposalprods.product_id), :class => "form-control") %>
            </div>
          </div>

          <!-- Label and input for size_id -->
          <div class="form-group">
            <label for="size_id" class="col-sm-2 control-label">
              Size
            </label>
            <div class="col-sm-10 input-group-sm">
               <%= select_tag(:size_id, options_from_collection_for_select(Size.all, :size_id, :size_desc, @proposalprods.size_id), :class => "form-control") %>
            </div>
          </div>

          <!-- Label and input for color_id -->
          <div class="form-group">
            <label for="color_id" class="col-sm-2 control-label">
              Color
            </label>
            <div class="col-sm-10 input-group-sm">
               <%= select_tag(:color_id, options_from_collection_for_select(Color.all, :color_id, :color_desc, @proposalprods.color_id), :class => "form-control") %>
            </div>
          </div>

          <!-- Label and input for material_id -->
          <div class="form-group">
            <label for="material_id" class="col-sm-2 control-label">
              Material
            </label>
            <div class="col-sm-10 input-group-sm">
               <%= select_tag(:material_id, options_from_collection_for_select(Material.all, :material_id, :material_desc, @proposalprods.material_id), :class => "form-control") %>
           </div>
          </div>


          <!-- Label and input for quantity -->
          <div class="form-group">
            <label for="quantity" class="col-sm-2 control-label">
              Quantity
            </label>
            <div class="col-sm-10 input-group-sm">
              <input type="text" id="quantity" name="quantity" placeholder="Quantity" class="form-control" value="<%= @proposalprods.quantity %>">
            </div>
          </div>

          <!-- Label and input for user_request_price -->
          <div class="form-group">
            <label for="user_request_price" class="col-sm-2 control-label">
              User request price
            </label>
            <div class="col-sm-10 input-group-sm">
              <input type="text" id="user_request_price" name="user_request_price" placeholder="User request price" class="form-control" value="<%= @proposalprods.user_request_price %>">
            </div>
          </div>


          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-success">
                Add Product
              </button>
              or
              <a href="/">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<hr>

 <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Current Bids</div>

        <!-- Table -->
        <table class="table">
          <tr>
            <th>Vendor</th>
            <th>Address</th>
            <th>Product</th>
            <th>Requested Price</th>
            <th>Vendor Price</th>
            <th>Select this vendor</th>
          </tr>

          <% @proposal.proposalprods.each do |pp| %>
            <% unless pp.user.nil? %>
              <tr>
                <th><%= pp.user.username %></th>
                <th><%= pp.user.address %></th>
                <th><%= pp.product.product_desc %></th>
                <th>$<%= pp.user_request_price.to_f.round(2) %></th>
                <th>$<%= pp.proposal_rfp_price.to_f.round(2) %></th>
                <th>
                  <a href="/proposals/<%= pp.proposal.id %>/select_confirm/<%= pp.user_id %>">
                    <i class="fa fa-thumbs-o-up"></i>
                  </a>
                </th>
              </tr>
            <% end %>
          <% end %>

        </table>
      </div>




<!-- Closed contract view for user -->
<% elsif @user.vendor == false and @proposal.win == true %>

<div class="row">
  <div class="col-sm-12 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Your Contract</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">

              <dt>User</dt>
              <dd><%= @proposal.user.username %></dd>

              <dt>User email</dt>
              <dd><%= @proposal.user.email %></dd>

              <dt>Start date</dt>
              <dd><%= @proposal.start_date %></dd>

              <dt>End date</dt>
              <dd><%= @proposal.end_date %></dd>

              <dt>Vendor</dt>
              <dd><%= User.find(@proposal.user_id_vendor).username %></dd>

              <dt>Vendor phone</dt>
              <dd><%= User.find(@proposal.user_id_vendor).phone %></dd>

            </dl>

          </div>
        </div>
      </div>



      <div class="btn-group btn-group-justified">
        <a href="/proposals" class="btn btn-primary">
          <i class="fa fa-chevron-left"></i>
        </a>
      </div>


      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Contracted products</div>

        <!-- Table -->
        <table class="table">
          <tr>
            <th>Product</th>
            <th>Color</th>
            <th>Size</th>
            <th>Material</th>
            <th>Quantity</th>
            <th>Contract price</th>
          </tr>

        <% @proposal.proposalprods.each do |pp| %>
          <tr>
            <th><%= pp.product.product_desc %></th>
            <th><%= pp.color.color_desc %></th>
            <th><%= pp.size.size_desc %></th>
            <th><%= pp.material.material_desc %></th>
            <th><%= pp.quantity %></th>
            <th>$<%= pp.proposal_rfp_price.round(2) %></th>
          </tr>
        <% end %>
        </table>
      </div>

    </div>
  </div>
</div>




<!-- Vendor View Open Proposals -->
<% elsif @user.vendor == true and @proposal.win == false %>

<div class="row">
  <div class="col-sm-12 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Prospect's Proposal</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">

              <dt>User</dt>
              <dd><%= @proposal.user.username %></dd>

              <dt>User email</dt>
              <dd><%= @proposal.user.email %></dd>

              <dt>Ideal weekly bill</dt>
              <dd><%= @proposal.user_request_val %></dd>

              <dt>Start date</dt>
              <dd><%= @proposal.start_date %></dd>

              <dt>End date</dt>
              <dd><%= @proposal.end_date %></dd>

            </dl>

          </div>
        </div>
      </div>



      <div class="btn-group btn-group-justified">
        <a href="/proposals" class="btn btn-primary">
          <i class="fa fa-chevron-left"></i>
        </a>

      </div>


      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Requested products</div>

        <!-- Table -->
        <table class="table">
          <tr>
            <th>Product</th>
            <th>Color</th>
            <th>Size</th>
            <th>Material</th>
            <th>Quantity</th>
            <th>Current RFP price</th>
            <th>Update RFP price</th>
          </tr>

        <% @proposal.proposalprods.each do |pp| %>
          <tr>
            <th><%= pp.product.product_desc %></th>
            <th><%= pp.color.color_desc %></th>
            <th><%= pp.size.size_desc %></th>
            <th><%= pp.material.material_desc %></th>
            <th><%= pp.quantity %></th>
            <th>$<%= pp.proposal_rfp_price.to_f %></th>
            <th>
              <a href="/proposalprods/<%= pp.id %>/edit">
                <i class="fa fa-edit"></i>
              </a>
            </th>
          </tr>
        <% end %>
        </table>
      </div>

    </div>
  </div>
</div>


<!-- Vendor View if won contract -->
<% elsif @user.vendor == true and @proposal.win == true and @user.id == @proposal.user_id_vendor %>

<div class="row">
  <div class="col-sm-12 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Your Contract</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">

              <dt>Customer</dt>
              <dd><%= @proposal.user.username %></dd>

              <dt>Customer email</dt>
              <dd><%= @proposal.user.email %></dd>

              <dt>Customer address</dt>
              <dd><%= @proposal.user.address %></dd>

              <dt>Customer phone</dt>
              <dd><%= @proposal.user.phone %></dd>

              <dt>Start date</dt>
              <dd><%= @proposal.start_date %></dd>

              <dt>End date</dt>
              <dd><%= @proposal.end_date %></dd>

              <dt>Winning vendor</dt>
              <dd><%= User.find(@proposal.user_id_vendor).username %></dd>

            </dl>

          </div>
        </div>
      </div>



      <div class="btn-group btn-group-justified">
        <a href="/proposals" class="btn btn-primary">
          <i class="fa fa-chevron-left"></i>
        </a>
      </div>


      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Contracted products</div>

        <!-- Table -->
        <table class="table">
          <tr>
            <th>Product</th>
            <th>Color</th>
            <th>Size</th>
            <th>Material</th>
            <th>Quantity</th>
            <th>Contract price</th>
          </tr>

        <% @proposal.proposalprods.each do |pp| %>
          <tr>
            <th><%= pp.product.product_desc %></th>
            <th><%= pp.color.color_desc %></th>
            <th><%= pp.size.size_desc %></th>
            <th><%= pp.material.material_desc %></th>
            <th><%= pp.quantity %></th>
            <th>$<%= pp.proposal_rfp_price.round(2) %></th>
          </tr>
        <% end %>
        </table>
      </div>

    </div>
  </div>
</div>

<% end %>
<!-- End responsive panel example -->


