<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Proposal #<%= @proposal.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Proposal</dt>
              <dd><%= @proposal.proposal_id %></dd>

              <dt>User</dt>
              <dd><%= @proposal.user_id %></dd>

              <dt>User id vendor</dt>
              <dd><%= @proposal.user_id_vendor %></dd>

              <dt>Win</dt>
              <dd><%= @proposal.win %></dd>

              <dt>User request val</dt>
              <dd><%= @proposal.user_request_val %></dd>

              <dt>Proposal rfp val</dt>
              <dd><%= @proposal.proposal_rfp_val %></dd>

              <dt>Start date</dt>
              <dd><%= @proposal.start_date %></dd>

              <dt>End date</dt>
              <dd><%= @proposal.end_date %></dd>

            </dl>

          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Requested products</div>

        <!-- Table -->
        <table class="table">
          <tr>
            <th>Product</th>
            <th>Color</th>
            <th>Size</th>
            <th>Material</th>
            <th>Quantity</th>
            <th>Requested price</th>
          </tr>

        <% @proposal.proposalprods.each do |pp| %>
          <tr>
            <th><%= pp.product.product_desc %></th>
            <th><%= pp.color.color_desc %></th>
            <th><%= pp.size.size_desc %></th>
            <th><%= pp.material.material_desc %></th>
            <th><%= pp.quantity %></th>
            <th><%= pp.user_request_price %>


          </tr>
        <% end %>
        </table>
      </div>




      <div class="btn-group btn-group-justified">
              <a href="/proposals" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/proposals/<%= @proposal.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_proposal/<%= @proposal.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>


    </div>
  </div>
</div>

<!-- End responsive panel example -->


